section {
  display: flex;
}

a {
  text-decoration: none;
  color: #a0a0a0;
}

button {
  width: 110px;
  height: 40px;
  background-color: #294464;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  margin-top: -13px;
  margin-left: -25px;
  letter-spacing: 0.14em;
}

header.row {
  border-bottom: 1px solid#a0a0a0;
  padding-bottom: 20px;
}

div.column-one-half > #blue-logo {
  padding-left: 100px;

  /* This is to move my logo to the left */
}

#blue-logo > img {
  height: 35px;
}

#implementation-link {
  margin-left: -30px;
}

#about-link {
  margin-left: 15px;
  margin-right: -10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
}

.column-one-half {
  flex-basis: 50%;
  height: 70px;
  padding: 35px;
}

.column-full {
  margin-left: 135px;
  margin-right: 10px;
  margin-top: 65px;
  width: 100%;
}

/* for the second row */
#woman {
  width: 1285px;
  height: 600px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#head-img {
  position: absolute;
  font-family: "Tiempos Headline", sans-serif;
  top: 70px;
  left: 100px;
  font-size: 35px;
  line-height: 1.5em;
  word-spacing: 0.2em;
  color: whitesmoke;
}

#text-img {
  position: absolute;
  top: 200px;
  left: 100px;
  padding-right: 667px;
  font-family: avenir, sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  word-spacing: 0.1em;
  color: whitesmoke;
}

#text-button {
  position: absolute;
  top: 450px;
  left: 123px;
  width: 170px;
  height: 50px;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 0;
}

.overlay {
  background: linear-gradient(transparent, rgb(21 20 20 / 50%));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* For third row */
.text-column-full {
  flex-basis: 100%;
  text-align: center;
  padding-top: 30px;
  margin-top: 70px;
  line-height: 30px;
  color: #6e6e6e;
  background-color: #fafafa;
}

#text-header {
  font-family: "Tiempos Headline", sans-serif;
  font-size: 30px;
}

#text-content {
  font-family: Avenir, sans-serif;
}

.text-column-one-half {
  flex-basis: 50%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
  background-color: #fafafa;
  border-bottom: 0.5px solid lightgray;
}

.text-column-one-half > h3 {
  line-height: 40px;
}

/* for fourth row */
.second-column-one-half {
  flex-basis: 50%;
  color: #6e6e6e;
}

#second-text-header {
  font-family: "Tiempos Headline", sans-serif;
  font-size: 27px;
}

#get-started-button {
  width: 175px;
  height: 45px;
  font-size: 16px;
  letter-spacing: 0;
  margin-top: 40px;
  margin-left: 410px;
  border-radius: 3px;
}

#ready-to-learn {
  margin-left: 140px;
}

/* for fifth row */
.column-one-third {
  flex-basis: calc(100% / 3);
  background-color: #525351;
  margin-top: 10px;
  padding-bottom: 70px;
  font-family: Avenir, sans-serif;
  color: whitesmoke;
}

#white-logo {
  height: 25px;
}

#address > p {
  margin-left: 140px;
  margin-top: 35px;
  line-height: 2em;
  font-size: 14px;
}

#address > img {
  margin-left: 140px;
  margin-top: 100px;
}

#company > h4 {
  margin-top: 100px;
  margin-left: 400px;
}

#company > p {
  margin-left: 400px;
}

#product > h4 {
  margin-top: 100px;
  margin-left: 200px;
}

#product > p {
  margin-left: 200px;
}

#privacy {
  margin-left: 140px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact-us {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.last-column {
  color: #6e6e6e;
}
